body {
  font-family:
    'Epilogue',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(var(--primary-cl));
  background-color: rgb(var(--background-cl));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding-top: 64px;
}

html {
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Sans';
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  font-family: 'IBM Plex Sans';
  font-size: 18px;
  font-weight: 500;

  color: rgb(var(--primary-cl));
  background-color: rgb(var(--btn-bg-cl));
  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  border-radius: 12px;
}

@media only screen and (min-width: 1439.98px) {
  body {
    padding-top: 72px;
  }
}
