:root {
}

body {
  font-family:
    'Epilogue',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(var(--primary-cl));
  background-color: rgb(var(--background-cl));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Sans';
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  font-family: 'IBM Plex Sans';
  font-size: 18px;
  font-weight: 500;

  color: rgb(var(--primary-cl));
  background-color: rgb(var(--btn-bg-cl));

  border-radius: 12px;
}
