@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/Epilogue.woff2');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/IBMPlexSans.woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/Roboto.woff2');
}
