:root {
  --primary-cl: 255 255 255; /* white color */
  --btn-bg-cl: 118 65 145; /* purple color */
  --background-cl: 6 3 7; /* black color */
  --foreground-cl: 35 19 43; /* dark purple color */
}
