<section class="artists" id="artists">
  <div class="container">
    <div class="artists-wrapper">
      <div class="artists-header">
        <span class="artists-tagline">Artists</span>
        <h2 class="artists-title">Explore Your New Favorite Artists</h2>
      </div>

      <ul class="artists-list"></ul>

      <div class="loader artists-loader"></div>

      <button type="button" class="artists-load-more">
        <span>Load More</span>
        <svg class="load-more-icon" width="24" height="24">
          <use href="./assets/icons.svg#icon-down-arrow-alt"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
