<section class="feedback" id="feedback">
  <div class="container">
    <h2 class="feedback-title visually-hidden">Feedbacks our visitors</h2>
    <div class="loader feedback-loader"></div>
    <div class="swiper feedback-swiper">
      <ul class="swiper-wrapper"></ul>
      <div
        class="swiper-pagination custom-pagination"
        aria-label="Slider pagination"
      >
        <button
          type="button"
          class="custom-bullet bullet-first"
          aria-label="Go to first slide"
        ></button>
        <button
          type="button"
          class="custom-bullet bullet-middle"
          aria-label="Go to middle slides"
        ></button>
        <button
          type="button"
          class="custom-bullet bullet-last"
          aria-label="Go to last slide"
        ></button>
      </div>
      <div class="swiper-button-prev">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.7069 17.293L8.41394 13H17.9999V11H8.41394L12.7069 6.70697L11.2929 5.29297L4.58594 12L11.2929 18.707L12.7069 17.293Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.293 17.293L12.707 18.707L19.414 12L12.707 5.29297L11.293 6.70697L15.586 11H6V13H15.586L11.293 17.293Z"
            fill="white"
          />
        </svg>
      </div>
    </div>
    <button type="button" class="btn-feedback-modal">Leave feedback</button>
  </div>
</section>
