<section class="hero" id="hero">
  <div class="container hero-wrapper">
    <div class="hero-description">
      <h1 class="hero-title">Discover your next favorite artist today</h1>
      <p class="hero-text">
        Dive into a world of music discoveries with ArtistsHub – your personal
        guide to the boundless universe of sound. Explore, filter, and learn
        about your favorite artists all in one place.
      </p>
      <a href="#artists" class="hero-link">
        <span>Explore Artists</span>
        <svg class="explore-icon" width="24" height="24">
          <use href="./assets/icons.svg#icon-right-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="hero-gallery">
      <div class="hero-gallery-column offset">
        <div class="hero-gallery-img hero-gallery-img-1" role="img"></div>
        <div class="hero-gallery-img hero-gallery-img-2" role="img"></div>
        <div class="hero-gallery-img hero-gallery-img-3" role="img"></div>
      </div>
      <div class="hero-gallery-column">
        <div class="hero-gallery-img hero-gallery-img-4" role="img"></div>
        <div class="hero-gallery-img hero-gallery-img-5" role="img"></div>
        <div class="hero-gallery-img hero-gallery-img-6" role="img"></div>
      </div>
    </div>
  </div>
</section>
