<section class="hero" id="hero">
  <div class="container hero-wrapper">
    <div class="hero-description">
      <h1 class="hero-title">Discover your next favorite artist today</h1>
      <p class="hero-text">
        Dive into a world of music discoveries with ArtistsHub – your personal
        guide to the boundless universe of sound. Explore, filter, and learn
        about your favorite artists all in one place.
      </p>
      <a href="#artists" class="hero-link">
        <span>Explore Artists</span>
        <svg class="explore-icon" width="24" height="24">
          <use href="./assets/icons.svg#icon-right-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="hero-gallery">
      <div class="hero-gallery-column offset">
        <picture class="hero-gallery-img">
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              ./img/hero/desktop/hero-1.webp    1x,
              ./img/hero/desktop/hero-1@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/jpeg"
            srcset="
              ./img/hero/desktop/hero-1.jpg    1x,
              ./img/hero/desktop/hero-1@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./img/hero/tablet/hero-1.webp    1x,
              ./img/hero/tablet/hero-1@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpeg"
            srcset="
              ./img/hero/tablet/hero-1.jpg    1x,
              ./img/hero/tablet/hero-1@2x.jpg 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ./img/hero/mobile/hero-1.webp    1x,
              ./img/hero/mobile/hero-1@2x.webp 2x
            "
          />
          <source
            type="image/jpeg"
            srcset="
              ./img/hero/mobile/hero-1.jpg    1x,
              ./img/hero/mobile/hero-1@2x.jpg 2x
            "
          />
          <img
            class="hero-gallery-img"
            src="./img/hero/mobile/hero-1.jpg"
            alt="A man in glasses and pink jacket"
            loading="eager"
            width="311"
            height="340"
          />
        </picture>
        <picture class="hero-gallery-img">
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              ./img/hero/desktop/hero-2.webp    1x,
              ./img/hero/desktop/hero-2@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/jpeg"
            srcset="
              ./img/hero/desktop/hero-2.jpg    1x,
              ./img/hero/desktop/hero-2@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./img/hero/tablet/hero-2.webp    1x,
              ./img/hero/tablet/hero-2@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpeg"
            srcset="
              ./img/hero/tablet/hero-2.jpg    1x,
              ./img/hero/tablet/hero-2@2x.jpg 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ./img/hero/mobile/hero-2.webp    1x,
              ./img/hero/mobile/hero-2@2x.webp 2x
            "
          />
          <source
            type="image/jpeg"
            srcset="
              ./img/hero/mobile/hero-2.jpg    1x,
              ./img/hero/mobile/hero-2@2x.jpg 2x
            "
          />
          <img
            class="hero-gallery-img"
            src="./img/hero/mobile/hero-2.jpg"
            alt="A man in glasses and pink jacket"
            loading="eager"
            width="311"
            height="340"
          />
        </picture>
        <picture class="hero-gallery-img">
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              ./img/hero/desktop/hero-3.webp    1x,
              ./img/hero/desktop/hero-3@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/jpeg"
            srcset="
              ./img/hero/desktop/hero-3.jpg    1x,
              ./img/hero/desktop/hero-3@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./img/hero/tablet/hero-3.webp    1x,
              ./img/hero/tablet/hero-3@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpeg"
            srcset="
              ./img/hero/tablet/hero-3.jpg    1x,
              ./img/hero/tablet/hero-3@2x.jpg 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ./img/hero/mobile/hero-3.webp    1x,
              ./img/hero/mobile/hero-3@2x.webp 2x
            "
          />
          <source
            type="image/jpeg"
            srcset="
              ./img/hero/mobile/hero-3.jpg    1x,
              ./img/hero/mobile/hero-3@2x.jpg 2x
            "
          />
          <img
            class="hero-gallery-img"
            src="./img/hero/mobile/hero-3.jpg"
            alt="A man in glasses and pink jacket"
            loading="eager"
            width="311"
            height="340"
          />
        </picture>
      </div>
      <div class="hero-gallery-column">
        <picture class="hero-gallery-img">
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              ./img/hero/desktop/hero-4.webp    1x,
              ./img/hero/desktop/hero-4@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/jpeg"
            srcset="
              ./img/hero/desktop/hero-4.jpg    1x,
              ./img/hero/desktop/hero-4@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./img/hero/tablet/hero-4.webp    1x,
              ./img/hero/tablet/hero-4@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpeg"
            srcset="
              ./img/hero/tablet/hero-4.jpg    1x,
              ./img/hero/tablet/hero-4@2x.jpg 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ./img/hero/mobile/hero-4.webp    1x,
              ./img/hero/mobile/hero-4@2x.webp 2x
            "
          />
          <source
            type="image/jpeg"
            srcset="
              ./img/hero/mobile/hero-4.jpg    1x,
              ./img/hero/mobile/hero-4@2x.jpg 2x
            "
          />
          <img
            class="hero-gallery-img"
            src="./img/hero/mobile/hero-4.jpg"
            alt="A man in glasses and pink jacket"
            loading="eager"
            width="311"
            height="340"
          />
        </picture>
        <picture class="hero-gallery-img">
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              ./img/hero/desktop/hero-5.webp    1x,
              ./img/hero/desktop/hero-5@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/jpeg"
            srcset="
              ./img/hero/desktop/hero-5.jpg    1x,
              ./img/hero/desktop/hero-5@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./img/hero/tablet/hero-5.webp    1x,
              ./img/hero/tablet/hero-5@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpeg"
            srcset="
              ./img/hero/tablet/hero-5.jpg    1x,
              ./img/hero/tablet/hero-5@2x.jpg 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ./img/hero/mobile/hero-5.webp    1x,
              ./img/hero/mobile/hero-5@2x.webp 2x
            "
          />
          <source
            type="image/jpeg"
            srcset="
              ./img/hero/mobile/hero-5.jpg    1x,
              ./img/hero/mobile/hero-5@2x.jpg 2x
            "
          />
          <img
            class="hero-gallery-img"
            src="./img/hero/mobile/hero-5.jpg"
            alt="A man in glasses and pink jacket"
            loading="eager"
            width="311"
            height="340"
          />
        </picture>
        <picture class="hero-gallery-img">
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              ./img/hero/desktop/hero-6.webp    1x,
              ./img/hero/desktop/hero-6@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/jpeg"
            srcset="
              ./img/hero/desktop/hero-6.jpg    1x,
              ./img/hero/desktop/hero-6@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./img/hero/tablet/hero-6.webp    1x,
              ./img/hero/tablet/hero-6@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpeg"
            srcset="
              ./img/hero/tablet/hero-6.jpg    1x,
              ./img/hero/tablet/hero-6@2x.jpg 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ./img/hero/mobile/hero-6.webp    1x,
              ./img/hero/mobile/hero-6@2x.webp 2x
            "
          />
          <source
            type="image/jpeg"
            srcset="
              ./img/hero/mobile/hero-6.jpg    1x,
              ./img/hero/mobile/hero-6@2x.jpg 2x
            "
          />
          <img
            class="hero-gallery-img"
            src="./img/hero/mobile/hero-6.jpg"
            alt="A man in glasses and pink jacket"
            loading="eager"
            width="311"
            height="340"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
