<div class="modal">
  <div class="artists-modal">
    <button class="close-btn" type="button">
      <svg class="close-image" width="32" height="32">
        <use href="./assets/icons.svg#icon-close"></use>
      </svg>
    </button>
    <!--Artist info-->
    <div class="js-artist-bio">
    <!--
      <h2 class="sub-title">Unlike Pluto</h2>
    <div class="laptop-container">
      <img class="artist-avatar" src="" alt="" />
      <div class="artist-info-conainer">
         <ul class="artist-info-list">
          <li class="artist-info">
            <h3 class="bold-text">Years active</h3>
            <p class="text">2013-present</p>
          </li>
          <li class="artist-info">
            <h3 class="bold-text">Sex</h3>
            <p class="text">Male</p>
          </li>
          <li class="artist-info">
            <h3 class="bold-text">Members</h3>
            <p class="text">1</p>
          </li>
          <li class="artist-info">
            <h3 class="bold-text">Country</h3>
            <p class="text">United States</p>
          </li>
        </ul>
        <div class="biography">
          <h3 class="bold-text">Biography</h3>
          <p class="text">
            Armond Arabshahi, known by his stage name Unlike Pluto, is an
            American singer, songwriter, music producer, and former DJ. He is
            mainly known for his song "Everything Black", released under the
            record label Monstercat in 2017, which he produced with
            Philadelphia-based vocalist and DJ Mike Taylor.
          </p>
        </div>
        <ul class="tags-list">
          <li class="tags">Alternative</li>
          <li class="tags">Pop</li>
          <li class="tags">Rock</li>
          <li class="tags">Indie</li>
        </ul> 
      </div>
      </div>-->
      </div>
      <!--About music-->

      <h2 class="sub-title-2">Albums</h2>
      <ul class="albums-list js-artist-albums">
        <!-- <li class="albums-container">
          <h2 class="album-name">Loud Fantasy, Quiet Reality</h2>
          <ul class="track-info-text-list">
            <li class="track-info-text">Track</li>
            <li class="track-info-text">Time</li>
            <li class="track-info-text">Link</li>
          </ul>
          <ul class="track-list">
            <li class="track">
              <ul class="track-info-list">
                <li class="track-name track-info">Rip Me Apart</li>
                <li class="track-time track-info">3:02</li>
                <li class="track-link track-info">
                  <svg class="youtube-svg" width="24" height="24">
                    <use href="../img/icons.svg#icon-youtube"></use>
                  </svg>
                </li>
              </ul>
            </li>
            <li class="track">
              <ul class="track-info-list">
                <li class="track-name track-info">Rip Me Apart</li>
                <li class="track-time track-info">3:02</li>
                <li class="track-link track-info"></li>
              </ul>
            </li>
            <li class="track">
              <ul class="track-info-list">
                <li class="track-name track-info">Rip Me Apart</li>
                <li class="track-time track-info">3:02</li>
                <li class="track-link track-info"></li>
              </ul>
            </li>
            <li class="track">
              <ul class="track-info-list">
                <li class="track-name track-info">Rip Me Apart</li>
                <li class="track-time track-info">3:02</li>
                <li class="track-link track-info">
                  <svg class="youtube-svg" width="24" height="24">
                    <use href="../img/icons.svg#icon-youtube"></use>
                  </svg>
                </li>
              </ul>
            </li>
            <li class="track">
              <ul class="track-info-list">
                <li class="track-name track-info">Rip Me Apart</li>
                <li class="track-time track-info">3:02</li>
                <li class="track-link track-info"></li>
              </ul>
            </li>
            <li class="track">
              <ul class="track-info-list">
                <li class="track-name track-info">Rip Me Apart</li>
                <li class="track-time track-info">3:02</li>
                <li class="track-link track-info">
                  <svg class="youtube-svg" width="24" height="24">
                    <use href="../img/icons.svg#icon-youtube"></use>
                  </svg>
                </li>
              </ul>
            </li>
            <li class="track">
              <ul class="track-info-list">
                <li class="track-name track-info">Rip Me Apart</li>
                <li class="track-time track-info">3:02</li>
                <li class="track-link track-info"></li>
              </ul>
            </li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</div>
