/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./common-styles/fonts.css');
@import url('./utils/variables.css');
@import url('./common-styles/base.css');
@import url('./common-styles/reset.css');
@import url('./common-styles/container.css');
@import url('./common-styles/loader.css');

/* Sections style */
@import url('./section-styles/header.css');
@import url('./section-styles/hero.css');
@import url('./section-styles/artists.css');
@import url('./section-styles/about-us.css');
@import url('./section-styles/feedback.css');
@import url('./section-styles/modal.css');
@import url('./section-styles/modalFeedbacks.css');
@import url('./section-styles/footer.css');
