.feedback {
  padding: 64px 0;

  @media (min-width: 1440px) {
    padding: 112px 0;
  }
}

.feedback-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  width: 288px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 26px;
    width: 518px;
  }

  @media (min-width: 1440px) {
    width: 768px;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.01em;
  }
}

.feedback-author {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

.stars-static {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.star {
  width: 20px;
  height: 19px;
  background-color: #764191;
  clip-path: path(
    'M9.07088 0.612343C9.41462 -0.204115 10.5854 -0.204114 10.9291 0.612346L12.9579 5.43123C13.1029 5.77543 13.4306 6.01061 13.8067 6.0404L19.0727 6.45748C19.9649 6.52814 20.3267 7.62813 19.6469 8.2034L15.6348 11.5987C15.3482 11.8412 15.223 12.2218 15.3106 12.5843L16.5363 17.661C16.744 18.5211 15.7969 19.201 15.033 18.7401L10.5245 16.0196C10.2025 15.8252 9.7975 15.8252 9.47548 16.0196L4.96699 18.7401C4.20311 19.201 3.25596 18.5211 3.46363 17.661L4.68942 12.5843C4.77698 12.2218 4.65182 11.8412 4.36526 11.5987L0.353062 8.2034C-0.326718 7.62813 0.0350679 6.52814 0.927291 6.45748L6.19336 6.0404C6.5695 6.01061 6.89716 5.77543 7.04207 5.43123L9.07088 0.612343Z'
  );
}

.star:not(.active) {
  background: #fff;
}

.feedback .swiper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /*padding: 59px;*/
  /*gap: 32px;*/
}

.swiper .swiper-wrapper {
  margin-bottom: 26px;

  @media (min-width: 1440px) {
    padding: 59px 0;
  }
}

.swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.feedback .swiper .swiper-button-prev,
.feedback .swiper .swiper-button-next {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;

    background: #060307;

    top: 40%;

    transition: all 0.3s ease;

    &:hover {
      background: #1e1c1f;
      border: 1px solid rgba(6, 3, 7, 0.15);
    }
  }

  @media (min-width: 1440px) {
    top: 25%;
  }
}

.feedback .swiper .swiper-pagination {
  bottom: 30px;

  @media (min-width: 1440px) {
    bottom: 80px;
  }
}

.swiper .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.2;
}

.swiper .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #fff;
}

@media (min-width: 1440px) {
  .feedback .custom-pagination {
    bottom: 80px;
  }
}

.feedback-loader {
  display: none;
}

.custom-pagination {
  display: flex;
  gap: 9px;
}
.feedback .custom-bullet {
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background: #fff;
  opacity: 0.2;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.feedback .custom-bullet.is-active {
  opacity: 1;
}
