.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #060307;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo,
.mobile-menu .logo {
  padding: 6.5px 0;
}

.logo-icon,
.mobile-menu .logo-icon {
  display: block;
  fill: #fff;
}

.burger-button,
.close-button {
  padding: 0;
  border: none;
  background: transparent;
  background-color: transparent;
  box-shadow: none;
}

.burger-button-icon,
.close-button-icon {
  display: block;
  fill: #fff;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #060307;
  transform: translateX(100%) scale(0.95);
  transition:
    opacity 400ms cubic-bezier(0.33, 1, 0.68, 1),
    visibility 400ms cubic-bezier(0.33, 1, 0.68, 1),
    transform 500ms cubic-bezier(0.33, 1, 0.68, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0) scale(1);
}

.mobile-menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 39px;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 26px;
  display: block;
  opacity: 0;
  transform: translateX(30px);
  transition:
    transform 400ms ease,
    opacity 400ms ease;
}

.mobile-menu.is-open .mobile-menu-link {
  opacity: 1;
  transform: translateX(0);
}

.mobile-menu.is-open .mobile-menu-item:nth-child(1) .mobile-menu-link {
  transition-delay: 200ms;
}
.mobile-menu.is-open .mobile-menu-item:nth-child(2) .mobile-menu-link {
  transition-delay: 300ms;
}
.mobile-menu.is-open .mobile-menu-item:nth-child(3) .mobile-menu-link {
  transition-delay: 400ms;
}
.mobile-menu.is-open .mobile-menu-item:nth-child(4) .mobile-menu-link {
  transition-delay: 500ms;
}

.menu {
  display: none;
}

/* Styles for Tablet devices */

@media only screen and (min-width: 767.98px) {
  .header .logo {
    padding: 0;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .menu-link {
    display: block;
    padding: 22.5px 0;
  }

  .burger-button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}
