.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  overflow-y: auto;

  /* hide element */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-feedbacks {
  position: absolute;
  /*top: 50%;*/
  top: 100px;
  left: 50%;

  width: 320px;
  min-height: 568px;
  background-color: rgb(var(--background-cl));
  border-radius: 16px;
  padding: 64px 16px 58px;
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: 768px) {
    padding: 64px 32px;
    width: 704px;
    min-height: 688px;
  }
}

.btn-close-icon {
  display: block;
  fill: #fff;
}

.btn-close-feedback {
  border: none;
  background: transparent;
  background-color: transparent;
  box-shadow: none;

  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-feedback:active {
  border: none;
  background-color: transparent;
}

.modal-caption {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;

  @media (min-width: 768px) {
    margin-bottom: 48px;

    font-size: 44px;
    line-height: 1.2;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width: 768px) {
    gap: 24px;
  }
}

.modal-form-field {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.modal-form-label {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.modal-form-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;

  border: 1px solid rgb(var(--primary-cl) / 0.2);
  border-radius: 12px;
  padding-block: 8px;
  padding-inline: 12px;
  width: 288px;
  height: 43px;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: rgb(var(--primary-cl));

  background: rgb(var(--background-cl));
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgb(var(--primary-cl) / 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media (min-width: 768px) {
    width: 640px;
    height: 43px;
  }
}

.modal-form-input:focus,
.modal-form-comment:focus {
  border-color: rgb(var(--primary-cl));
  outline: none;
}

.modal-form-input:focus::placeholder,
.modal-form-comment:focus::placeholder {
  color: transparent;
}

.modal-form-comment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0;

  border: 1px solid rgb(var(--primary-cl) / 0.2);
  border-radius: 12px;
  padding: 12px;
  width: 288px;
  height: 130px;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: rgb(var(--primary-cl));

  background: rgb(var(--primary-cl) / 0);
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;

  background-clip: padding-box;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgb(var(--primary-cl) / 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media (min-width: 768px) {
    width: 640px;
    height: 180px;
  }
}

.modal-form-comment::-webkit-scrollbar {
  width: 6px;
}

.modal-form-comment::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px 0;
}

.modal-form-comment::-webkit-scrollbar-thumb {
  background: rgb(var(--primary-cl) / 0.5);
  border-radius: 10px;
}

.text-error {
  color: #8c0000;
  font-size: 12px;
  display: none;
  transition: display 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input.is-invalid,
.modal-form-comment.is-invalid {
  border-color: #af0404;
  color: #af0404;
}

.text-error.show {
  display: block;
}

.rating-error {
  margin-top: -24px;
}

.star-rating-modal {
  display: flex;
  gap: 5px;
  /*font-size: 8px;*/
  cursor: pointer;
}

.star-modal {
  width: 31px;
  height: 29px;
  fill: #ccc;
  transition: fill 0.3s;
}

.star-modal.active,
.star-modal.hover {
  fill: #9b59b6; /* фиолетовый */
}

.btn-modal-send {
  position: relative;
  height: 47px;
  left: 50%;
  transform: translateX(-50%);

  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #764191;

  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--primary-cl);

  transition: all 0.3s ease;

  @media (min-width: 768px) {
    width: 340px;
    font-size: 14px;
  }
  @media (min-width: 1440px) {
    width: 108px;
    font-size: 16px;
  }

  &:hover {
    opacity: 0.6;
  }
}

.btn-modal-send:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition-delay: 0ms;
}
