ul {
  list-style: none;
}
.modal {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  opacity: 1;
  padding: 64px 16px;
}
.artists-modal {
  width: 100%;
  max-height: 90dvh;
  background: #060307;
  border-radius: 16px;
  padding: 16px;
  padding-top: 52px;
  padding-bottom: 52px;
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}
.close-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 16px;
  right: 16px;
}
.sub-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
}
.close-image {
  fill: #fff;
}
.artist-avatar {
  justify-self: center;
}

.artist-info {
  margin-bottom: 16px;
}
.bold-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}
.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}
.biography {
  margin-bottom: 16px;
}
.tags-list {
  display: flex;
  flex-direction: unset;
  align-items: normal;
  flex-wrap: wrap;
  gap: 16px;
}
.tags {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}
.sub-title-2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fff;
  text-align: start;
}

.albums-container {
  background: #1e1c1f;
  border-radius: 16px;
  padding: 14px 11px;
  min-width: 250px;
}
.album-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}
.track-info-text-list,
.track-info-list {
  display: grid;
  grid-template-columns: 1fr 60px 48px;
  align-items: center;
}
.track-info-text-list {
  background: rgba(255, 255, 255, 0.05);
  margin-top: 12px;
}

.track-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
}
.track-info-list {
  height: 40px;
  border-radius: 8px;
  padding: 8px 0px 8px 12px;
}
.track:nth-child(even) .track-info-list {
  border-radius: 8px;
  padding: 8px 0px 8px 12px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
}
.youtube-svg {
  fill: #fff;
}
.track-info-text {
  font-weight: 600;
  font-size: 8px;
  line-height: 1.5;
  color: #fff;
}
.albums-list {
}

/* Tablet */

@media only screen and (min-width: 767.98px) {
  .sub-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    text-align: center;
  }
  .artist-avatar {
    width: 654px;
    height: 402px;
  }
  .albums-container {
    width: 311px;
  }
  .tags-list {
    align-self: flex-start;
  }
  .albums-list {
    gap: 32px;
    row-gap: 32px;
  }
  .albums-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .albums-container {
    flex-basis: calc((100% - 32px) / 2);
  }
}

/*Laptop*/
@media only screen and (min-width: 1439.98px) {
  .artists-modal {
    padding: 64px;
  }
  .laptop-container {
    display: flex;
  }
  .artist-avatar {
    width: 100%;
    min-width: 576px;
    height: auto;
    margin-right: 32px;
  }
  .artist-info-conainer {
    display: flex;
    flex-direction: column;
  }
  .artist-info-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 64px;
    width: 100%;
  }
  .biography {
    margin-bottom: 32px;
  }
  .albums-container {
    flex-basis: calc((100% - 96px) / 4);
  }
}
